name: Release
on:
  push:
    tags:
      - 'v[0-9]+'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-musl
          - x86_64-unknown-linux-musl
    steps:
      - run: cargo install cross --git https://github.com/cross-rs/cross
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: sensorfu/setup-rust-action@v1
        with:
          cache-key: cross-${{ matrix.target }}
      - run: cross build -v --release --target ${{ matrix.target }}
      - run: cp "target/${{ matrix.target }}/release/ledrama-sniffer" "ledrama-sniffer-${{ matrix.target }}"

  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        target:
          - aarch64-apple-darwin
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: sensorfu/setup-rust-action@v1
        with:
          cache-key: cargo-${{ matrix.target }}
      - run: cargo build -v --release --target ${{ matrix.target }}
      - run: cp "target/${{ matrix.target }}/release/ledrama-sniffer" "ledrama-sniffer-${{ matrix.target }}"

  make-release:
    runs-on: ubuntu-latest
    needs: [ build-linux, build-macos ]
    steps:
      - name: Create GitHub release
        run: gh release create \
          --verify-tag \
          --title "ledrama-sniffer" \
          "${GITHUB_REF_NAME}" \
          ledrama-sniffer-*
